/*无数据缺失提示*/
.TMnodata{
	display:none;
	position:absolute;
    font-size: 12px;
    color:#d7522f;
    width:150px;
    height: 46px;
    line-height: 46px;
    background-color: #19315e;
    text-align: center;
    z-index:2;
}
.TMlackdata{
	display:none;
	position:fixed;
	top:6%;
	left:42%;
    font-size: 12px;
    color:#d7522f;
    width:360px;
    height: 30px;
    background-color: rgba(0,0,0,0.12);
    text-align: center;
    line-height: 30px;
}
.TMnodata span,.TMlackdata span{
	display:inline-block;
	margin-right:5px;
	font-family:icon;
	font-size:14px;
}

.TMnodata-div{
	/* cursor:not-allowed !important; */
	color:#4f6587;
	background-color:rgb(16,37,76);
}
.TMnodata-div .element-tag{
	color:#4f6587;
}


.SD-hd-null{
	text-align:center;
	overflow:hidden;
	white-space: nowrap;
	display:none;
	position:fixed;
	width:260px;
	height:100px;
	top:36%;
	left:34%;
	font-size:25px;
	z-index:9;
	background-color:rgba(0,0,0,0.3);
	border:1px solid rgba(153,194,255,0.9);
	border-radius:10px;
}
.SD-hd-null p{
	color:#fff;
	margin:30px 0 0 35px;
}


