._set-place-duplexing {
    background-color: white;
    border-radius: 2px;
    width: 240px;
    float: left;
}
._set-name {
    border-right: 1px solid #a3a7b2;
    color: black;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin-top: 4px;
    padding: 0 5px;
}
._set-begin {
    background: white none repeat scroll 0 0;
    display: inline-block;
    position: relative;
    width: 84px;
}
._set-begin > input {
    border: 0 none;
    border-radius: 5px;
    color: cadetblue;
    font-size: 13px;
    height: 23px;
    line-height: 23px;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-align: center;
    width: 85px;
}
._set-change {
    display: inline-block;
    font-family: "icon";
    font-size: 12px;
}
._set-place {
    background: white none repeat scroll 0 0;
    border-radius: 3px;
    width:122px;
    float: left;
    height: 24px;
}
.simulate-route-option,.simulate-route-list{
	width: 97%;
	margin-left: 3%;
}
.simulate-route-option{
	height:60%;
}
.simulate-route-list{
	height:40%;
}
.simulate-routes li{
	line-height: 25px;
	color: white;
}
h5{
	font-weight: bold;
	text-align: center;
	color: white;
}
.simulateRoutes{
	background-color: rgba(7, 19, 39, 0.8);
    display: none;
    height: 600px;
    position: absolute;
    right: 173px;
    top: 10%;
    width: 480px;
}
.c-selectCityBox {
    background-color: #0f1e35;
    color: white;
    display: inline-block;
    font-family: "Microsoft Yahei";
    font-size: 12px;
    left: -125px;
    padding: 11px 22px;
    position: absolute;
    top: 24px;
    width: 440px;
    z-index:2;
}
.simulate-route-list h5 span{
	color: #7fbce9;
    cursor: pointer;
    display: inline-block;
    font-family: "icon";
    font-size: 12px;
    margin-left: 10px;
}
.del-btn{
	color:red;
    cursor: pointer;
    display: inline-block;
    font-family: "icon";
    font-size: 19px;
    margin-left: 10px;
}
.cancel-btn,.batchCancel-btn{
	background-color: #13233d;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4) inset;
    cursor: pointer;
}
.simulate-list-edit{
	height: 36px;
    padding: 14px 0 0 120px;
    position: relative;
}
.verify-btn,.batchAdd-btn{
background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #62c5d8, #4b5cb6) repeat scroll 0 0;
    cursor: pointer;
    transition: background 0.3s linear 0s;
}
.personal-information-select{
	text-align: center;
}
.addlineverify,.addlinecancel{
    cursor: pointer;
    display: inline-block;
    font-family: "icon";
    font-size: 12px;
    margin-left: 10px;
}
.addlineverify{
	color: #7fbce9;
}
.addlinecancel{
	color:red;
}
.batchTextarea{
	width:450px;
	height:190px;
	border:none;
	border-radius:5px;
	resize:none;
}