/*!
 laypage默认样式
*/
.laypage_main{
	font-size:0;clear:both;color:#666;
}
.laypage_main a,.laypage_main input,.laypage_main span{
	font-size: 12px;
	height:26px;
	line-height:26px;
}
.laypage_main *{
	display:inline-block;
	vertical-align:bottom;
	font-size:12px;
}
.laypage_main a{
	text-decoration:none;
	color:#aaa;
}
.laypage_main a:hover{
	color:#FFF;
}
.laypage_main a,.laypage_main span{
	padding:0 3px;
}
.laypage_main input{
	width:20px;
	margin:0 5px;
	padding:0 5px;
}
.laypageskin_default span{
	width: 10px;
	height:28px;
	line-height:28px;
	color:#999;
}
.laypageskin_default .laypage_curr{
	font-size:13px;
	margin-right: 5px;
	font-weight:700;
	color:#fff;
}



/*
.laypage_main button{
	height:28px;
	line-height:28px;
	margin-left:5px;
	padding:0 10px;
	color:#666
}
 .laypageskin_molv a,.laypageskin_molv span{padding:0 12px;border-radius:2px}.laypageskin_molv a{background-color:#f1eff0}.laypageskin_molv .laypage_curr{background-color:#00AA91;color:#fff}.laypageskin_molv input{height:24px;line-height:24px}.laypageskin_molv button{height:26px;line-height:26px}.laypageskin_yahei{color:#333}.laypageskin_yahei a,.laypageskin_yahei span{padding:0 13px;border-radius:2px;color:#333}.laypageskin_yahei .laypage_curr{background-color:#333;color:#fff}.laypageskin_flow{text-align:center}.laypageskin_flow .page_nomore{color:#999} */